* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 5rem;
}
a {
    margin-right: 30px;
}

@keyframes fade-in {
    0%{
        opacity: 0;
        transform: translateX(-400px);
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-out {
    0%{
        opacity: 1;
        transform: translateX(0);
    }
    100%{
        transform: translateX(100%);
        opacity: 0;
    }
}


